/* MAIN PAGE CSS */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

h1 {
  text-align: center;
  margin: 50px 0;
  color: darkslategrey;
}

ul {
  list-style-type: none;
  text-align: center;
}

ul li {
  margin-bottom: 4px;
}

ul li a {
  text-decoration: none;
  color: orangered;
  transition: all 0.2s ease;
}

ul li a:hover {
  color: rgb(109, 29, 0);
}
