/* RECIPES PAGE CSS */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

a {
  text-decoration: none;
  color: orangered;
  margin: 150px;
  transition: all 0.2s ease;
  font-size: 24px;
}

a:hover {
  color: rgb(109, 29, 0);
}

h1 {
  text-align: center;
  margin: 30px 0;
  color: darkslategrey;
}

img {
  display: block;
  margin: auto;
}

h2 {
  text-align: center;
  color: lightseagreen;
  margin: 30px 0;
}

p {
  margin: 10px 150px;
}

ul {
  list-style-type: circle;
  margin: 0 170px;
}

ul li {
  color: orangered;
  margin: 5px;
}

ol {
  margin: 0 170px;
  margin-bottom: 50px;
}

ol li {
  margin: 10px;
}
